@import "tailwindcss";

:root {
  --background: #f7f7f8;
  --foreground: #17171a;
  --accent: #ef4360;
  --accent-dark: #d81b3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
